<div><font size="5px"><strong>近畿大学</font></strong>
<div id="userid">@kinkidaigakuPR</div>
</div>

<p id="sidebar-message">
    近畿大学総務部広報室のTwitter公式アカウントです。近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。個別のお問い合わせには返信を行っておりませんので、ご了承ください。
</p>

<p id="userid">大阪府東大阪市</p>

<p id="userid">instagram.com/kinkidaigakupr/</p>

<p id="userid">2010年12月に登録</p>

<p id="tweet-button"><%= link_to 'つぶやく', new_tweet_path, class:"userList" %></p>