/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#container {
    background-color: #EEFFFF;
}

#content {
    width: 70%;
    float: right;
    color: #000;      /*文字色*/ 
    padding: 0 1% 0 0;
    
}


#tweet {
    height: 200px;
    padding:  0.5em 1em;
    margin: 0.1em 0;
    color: #000000;
    background: #FFF;
    border: solid 1px #EEEEEE;/*線*/ 
    
    
}

#tweet-button {
    border-radius: 20px;
    background: #2C7CFF;
    color: #fff;
    width: 7em;
    height: 2em;
    text-align: center;
    display: inline-block;
    display: table-cell; 
    vertical-align: middle;
}

#tweet-tab {
    height: 30px;
    
    padding:  0.5em 1em;  
    margin: 1em 0 0 0;
    color: #000000;
    background: #FFF;
    border: solid 1px #EEEEEE;/*線*/ 
    font-size: 25px;
    

    
}

#tweet-left {
    width: 6%;
    height: 100%;
    float: left;
    margin: 0 1em 0 0;
    color: #000000;
 
}

#tweet-icon-area {
    width: 60px;
    height: 60px;
    padding: 1em 0 0 0;

    
    color: #000000;
 
}

#tweet-time {
    font-size: 2px;
}

#header {
    height: 200px;
    /* padding: 0.5em 1em; */
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border-bottom: solid 2px #CCCCCC;/*線*/
    /* border-radius: 10px;/*角の丸み*/
    
}

#header-left {
    width: 20%;
    height: 100%;
    float: left;
    margin: 1em 5em;
    
    color: #000000;
    
  
}

#header-icon-area {
    width: 250px;
    height: 250px;
    float: left;
    color: #000000;
 
}

#header-banner-area {
    height: 70% ;
        
    background-image: url(/assets/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    border: 5px solid #FFF; /* 枠線を付加 */
    background-position: left top;
}

#sidebar {
    float: left;
    width: 20%;
    margin: 0.5em 0;
    padding: 2em 2em; /*枠外側 */
    color: #000000;/*文字色*/
}

#sidebar-message {
    height: 30%;
}


#footer {
    text-align: center;
    clear: both;
}

.userList {
    text-decoration: none;
    color: #FFF;
}



#userid {
    color: grey;
    font-size: 15px;
}










#copyright {
    font-size: 15px;
}

#indent {
    margin: 1em;
}
